body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
  background: #0b0f19;
  zoom:80%;
}
h3 {
  margin-top: 50px;
  color: #999;
}
li {
  margin: 25px 50px 0 0;
  color: #999;
}
table {
  width: 100%;
  margin: 0 50px 0 50px;
  color: #999;
  text-align: justify;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
  color: #999;
}
